@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-cream overflow-x-hidden;
  }
}

@layer components {
  .btn-primary {
    @apply bg-terracotta text-cream px-6 py-3 rounded-full hover:bg-clay transition-all font-medium;
  }
}
