@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-cream overflow-x-hidden;
  }
}

@layer components {
  .btn-primary {
    @apply bg-terracotta text-cream px-6 py-3 rounded-full hover:bg-clay transition-all font-medium;
  }
}

@layer utilities {
  @keyframes shimmer-slide {
    to {
      transform: translate(calc(100cqw - 100%), 0);
    }
  }

  @keyframes spin-around {
    0% {
      transform: translateZ(0) rotate(0);
    }

    15%,
    35% {
      transform: translateZ(0) rotate(90deg);
    }

    65%,
    85% {
      transform: translateZ(0) rotate(270deg);
    }

    100% {
      transform: translateZ(0) rotate(360deg);
    }
  }

  @keyframes scroll {
    to {
      transform: translate(calc(-50% - 0.5rem));
    }
  }

  .animate-shimmer-slide {
    animation: shimmer-slide var(--speed) ease-in-out infinite alternate;
  }

  .animate-spin-around {
    animation: spin-around calc(var(--speed) * 2) infinite linear;
  }

  .animate-scroll {
    animation: scroll var(--animation-duration, 40s) var(--animation-direction, forwards) linear infinite;
  }
}